.item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 230px;
    padding: 10px 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    background-color: white;
}

.status {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.avatar {
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.name {
    font-size: 20px;
    font-weight: 500;
}